coverage
node_modules
*.sublime-workspace
lib

# Generated TypeScript declarations copy for xml-fiesta-types npm package
xml-fiesta-types/*
!xml-fiesta-types/package.json
builds
dist
package-lock.json
.nyc_output
yarn-error.log
.tscache

# VS Code settings
.vscode/*.json
!.vscode/extensions.json