docs
coverage
spec
.nyc_output
.deploy
src
.tscache
mise.toml
.travis.yml
*.sublime-project
*.sublime-workspace
CHANGELOG.md
pnpm-lock.yaml
pnpm-workspace.yaml
tsconfig.json
tslint.json
pnpm-debug.log
.gitignore
