docs
coverage
spec
.nyc_output
.deploy
src
.tscache
.nvmrc
.travis.yml
*.sublime-project
*.sublime-workspace
bower.json
CHANGELOG.md
Gruntfile.js
yarn.lock
tsconfig.json
tslint.json
yarn-error.log
.gitignore
